body {
	background-color: #660000;
	padding: 100px;
}

#header-nav {
	background-color: blue;
	border-radius: 0;
	border: 0; 
}

#logo-img {
	background: url("panda150px.jpeg") no-repeat;
	width: 195px;
	height: 217px;
	margin:10px 15px 10px 0; 
}

.navbar-brand {
	padding-top: 25px; 
}

.navbar h1 {
	font-family: "Caveat", serif;
}